/* Stile generale della pagina */
body {
    background-color: #f8f9fa; /* Un colore di sfondo leggero */
    font-family: 'Arial', sans-serif; /* Un font leggibile */
}

/* Intestazione e descrizione */
h2 {
    color: #343a40; 
    margin-bottom: 0.5rem;
}

p {
    color: #6c757d; 
}

/* Card del preventivo */
.card {
    margin-bottom: 5rem;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
    border: none; 
}

    .card .card-title {
        color: #007bff; 
    }

    .card .btn-outline-secondary {
        color: #007bff;
        border-color: #007bff;
    }

        .card .btn-outline-secondary:hover {
            background-color: #007bff;
            color: #fff;
        }

/* Stile dei dropdown */
.form-control {
    border-radius: 0.25rem; 
    border: 1px solid #ced4da; 
}

/* Stile per i checkbox */
.form-check .form-check-input {
    width: 1.25em;
    height: 1.25em;
}

/* Stile per i bottoni */
.btn {
    border-radius: 0.25rem; 
    padding: 0.5rem 1rem;
}

/* Rende i controlli della form responsive */
@media (max-width: 768px) {
    .card-body, .card-img-top {
        width: 100%;
        max-width: none;
    }
}
